$full-size: 100%;
$primary-color: #3a80ba;
$primary-text-color: #ffffff;
$secondary-color: #1C3B55;
$montserrat: Montserrat;
$table-grid-columns: 0.8fr 1.2fr 1fr 1fr 0.9fr 0.8fr 1.4fr 1.2fr;
$border: 1px solid #f1f1f1;